<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
    <style>
      body {
        background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2548.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        filter: blurred;
      }
      
      .box {
        background-color: #ffffff;
        color: #000000;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>