{% extends 'base.html' %} 
{% load static %}


{% block content %}
  <main>
    <div>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
      <h1>Create Receipt</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
          <ul class="nav-list">
            <button>
              <li><a href="{% url 'home' %}">Cancel</a></li>
            </button>
          </ul>
      </form>
    </div>
  </main>
{% endblock content %}