{% extends 'base.html' %}
{% load static %}

{% block head %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
{% endblock %}

{% block content %}
     <main>
     <nav>
        <ul class="nav-list">
          <li><button class="buttons_list" onclick="window.location.href='{% url 'create_receipt' %}'">Create Receipt</button></li>
          <li><button class="buttons_list" onclick="window.location.href='{% url 'category_list' %}'">Category List</button></li>
          <li><button class="buttons_list" onclick="window.location.href='{% url 'account_list' %}'">Account List</button></li>
          <li><button class="buttons_list" onclick="window.location.href='{% url 'logout' %}'">Logout</button></li>
        </ul>
    </nav>
          <h1>My Receipts</h1>
          <table>
               <div class="parent">
                    <thead>
                         <tr>
                         <th>Vendor</th>
                         <th>Total</th>
                         <th>Tax</th>
                         <th>Date</th>
                         <th>Category</th>
                         <th>Account</th>
                         </tr>
                    </thead>
               <tbody>
                    {% for receipt in receipts %}
                    <tr>
                         <td>{{ receipt.vendor }}</td>
                         <td>{{ receipt.total }}</td>
                         <td>{{ receipt.tax }}</td>
                         <td>{{ receipt.date|date:"03/03/23" }}</td>
                         <td>{{ receipt.category.name }}</td>
                         <td>{{ receipt.account.name }}</td>
                    </tr>
                    {% endfor %}
               </tbody>
               </div>
          </table>
     </main>
{% endblock %}
